--
-- PostgreSQL database dump
--

\restrict l6uwAmj5Gn108CuRe6g5kdachW2U3jN3JBwhyeJ2X91nBlOtKBp5hroVnHccFg2

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.admin_users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    company_id uuid
);


ALTER TABLE public.admin_users OWNER TO app_user;

--
-- Name: client_otp; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.client_otp (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    phone character varying(20) NOT NULL,
    code character varying(6) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.client_otp OWNER TO app_user;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.clients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    phone character varying(20) NOT NULL,
    password_hash character varying(255) NOT NULL,
    email character varying(100),
    address character varying(255),
    phone_verified boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    odoo_partner_id integer,
    company_id uuid
);


ALTER TABLE public.clients OWNER TO app_user;

--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: app_user
--



--
-- Data for Name: client_otp; Type: TABLE DATA; Schema: public; Owner: app_user
--

COPY public.client_otp (id, phone, code, expires_at, used, created_at) FROM stdin;
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: app_user
--

COPY public.clients (id, name, phone, password_hash, email, address, phone_verified, created_at, updated_at, odoo_partner_id, company_id) FROM stdin;
\.


--
-- Name: admin_users admin_users_email_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key UNIQUE (email);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: client_otp client_otp_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.client_otp
    ADD CONSTRAINT client_otp_pkey PRIMARY KEY (id);


--
-- Name: clients clients_phone_key; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_phone_key UNIQUE (phone);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: idx_client_otp_created_at; Type: INDEX; Schema: public; Owner: app_user
--

CREATE INDEX idx_client_otp_created_at ON public.client_otp USING btree (created_at DESC);


--
-- Name: idx_client_otp_phone; Type: INDEX; Schema: public; Owner: app_user
--

CREATE INDEX idx_client_otp_phone ON public.client_otp USING btree (phone);


--
-- Name: idx_clients_phone; Type: INDEX; Schema: public; Owner: app_user
--

CREATE INDEX idx_clients_phone ON public.clients USING btree (phone);


--
-- PostgreSQL database dump complete
--

\unrestrict l6uwAmj5Gn108CuRe6g5kdachW2U3jN3JBwhyeJ2X91nBlOtKBp5hroVnHccFg2

