--
-- PostgreSQL database dump
--

\restrict Z0jSgtuLxkdYbCpREu9I6bZoJfbu1HzBrwP7dGWdZTdAQ5kxfeXuaEuQ8kYrErj

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: driver_history; Type: TABLE; Schema: public; Owner: driver
--

CREATE TABLE public.driver_history (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    delivery_id character varying(255) NOT NULL,
    driver_id uuid NOT NULL,
    status character varying(255) NOT NULL
);


ALTER TABLE public.driver_history OWNER TO driver;

--
-- Name: driver_otp; Type: TABLE; Schema: public; Owner: driver
--

CREATE TABLE public.driver_otp (
    id uuid NOT NULL,
    code character varying(6) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    expires_at timestamp(6) without time zone NOT NULL,
    phone character varying(20) NOT NULL,
    used boolean NOT NULL
);


ALTER TABLE public.driver_otp OWNER TO driver;

--
-- Name: driver_stats; Type: TABLE; Schema: public; Owner: driver
--

CREATE TABLE public.driver_stats (
    id uuid NOT NULL,
    cancelled integer,
    delivered integer,
    driver_id uuid NOT NULL,
    failed integer,
    total_deliveries integer,
    updated_at timestamp(6) without time zone
);


ALTER TABLE public.driver_stats OWNER TO driver;

--
-- Name: drivers; Type: TABLE; Schema: public; Owner: driver
--

CREATE TABLE public.drivers (
    id uuid NOT NULL,
    active boolean NOT NULL,
    available boolean NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    current_lat numeric(10,7),
    current_lng numeric(10,7),
    last_location_at timestamp(6) without time zone,
    name character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    phone character varying(20) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    fcm_token character varying(500),
    company_id uuid
);


ALTER TABLE public.drivers OWNER TO driver;

--
-- Data for Name: driver_history; Type: TABLE DATA; Schema: public; Owner: driver
--

COPY public.driver_history (id, created_at, delivery_id, driver_id, status) FROM stdin;
\.


--
-- Data for Name: driver_otp; Type: TABLE DATA; Schema: public; Owner: driver
--

COPY public.driver_otp (id, code, created_at, expires_at, phone, used) FROM stdin;
\.


--
-- Data for Name: driver_stats; Type: TABLE DATA; Schema: public; Owner: driver
--



--
-- Data for Name: drivers; Type: TABLE DATA; Schema: public; Owner: driver
--



--
-- Name: driver_history driver_history_pkey; Type: CONSTRAINT; Schema: public; Owner: driver
--

ALTER TABLE ONLY public.driver_history
    ADD CONSTRAINT driver_history_pkey PRIMARY KEY (id);


--
-- Name: driver_otp driver_otp_pkey; Type: CONSTRAINT; Schema: public; Owner: driver
--

ALTER TABLE ONLY public.driver_otp
    ADD CONSTRAINT driver_otp_pkey PRIMARY KEY (id);


--
-- Name: driver_stats driver_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: driver
--

ALTER TABLE ONLY public.driver_stats
    ADD CONSTRAINT driver_stats_pkey PRIMARY KEY (id);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: driver
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: drivers uk_k8g8tftyclmpgp3a5l0ni1nhk; Type: CONSTRAINT; Schema: public; Owner: driver
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT uk_k8g8tftyclmpgp3a5l0ni1nhk UNIQUE (phone);


--
-- PostgreSQL database dump complete
--

\unrestrict Z0jSgtuLxkdYbCpREu9I6bZoJfbu1HzBrwP7dGWdZTdAQ5kxfeXuaEuQ8kYrErj

